<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Imagix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Imagix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container main " id="form">
        <h2>Enter a new photograph</h2>
        <div>
            <form action="/photographs" method="POST">
                <div class="form-group">
                    <label for="exampleName"></label>
                    <br>
                    <input type="text" placeholder="Enter title" name="name" required>
                </div>

                <div class="form-group">
                    <label for="exampledescription"></label>
                    <textarea id="floating-label" rows="6" name="descrip" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                    <label id="image" for="exampleimage">Upload your image</label>
                    <br>
                    <input type="file" id="upload" name="image" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a style="font-size:13px" href="/photographs">Go back</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>