<!DOCTYPE html>
<html>

<head>
    <title>Imagix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/campground.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Imagix</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron">
            <div>
                <h2><i class="fas fa-campground"></i> Carpe Diem</h2>
                <p>Varirty of campsites have been tagged from various locations on earth</p>
            </div>
            <a class="btn btn-primary" href="/campgrounds/new"> Enter a new campground</a>
        </div>

        <div class="container">
            <div class="row">
                <% for(var i=0;i<campgrounds.length;i++){ %>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="thumbnail" id="sites">
                            <div class="camp-images">
                                <img src="<%= campgrounds[i].img %>">
                            </div>
                            <div class="caption">
                                <%= campgrounds[i].name %>
                            </div>
                            <p>
                                <a class="btn btn-sm btn-primary" href="campgrounds/<%=campgrounds[i]._id %>">More Info</a>
                            </p>
                        </div>
                    </div>
                    <%    } %>

            </div>
        </div>
    </div>
    <br>
    <br>
    <p>Imagix - 2020</p>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>