.navbar-dark .navbar-nav .nav-link {
    color: white;
}

body {
    background-image: url(https://images.unsplash.com/photo-1481740586420-804cc4418700?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 15%;
}

p {
    color: white;
    text-align: center;
    font-size: large;
}

.btn {
    margin-top: 20px;
    margin-left: 41.5%;
    margin-right: 10%;
}

.alert {
    margin-top: 10px;
    text-align: center;
    font-size: large;
}
