.card{
    width: 45%;
    background: rgba(128, 128, 128, 0.5);
    margin: 15% 25%;
    color: white;
    text-align: justify;
    padding: 20px;
}
.flex-container {
    display: flex;

  }
  
.flex-container img {
    margin: 10px;
    font-size: 30px;
    padding: 7px 0;
    width: 50px;
}
.card button{
    width: 200px;
    height: 50px;
    font-weight: bolder;
    font-size: larger;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.card button:hover {
    background-color: #008CBA;
    color: white;
  }

